@{
    ViewBag.Title = "Inicio de Sesión";
}

<h2>Inicio de Sesión</h2>

@using (Html.BeginForm("InicioSesion", "Intranet", FormMethod.Post))
{
    <div>
        @Html.Label("Nombre de Usuario")
        @Html.TextBox("usuario")
    </div>
    <div>
        @Html.Label("Contraseña")
        @Html.Password("contraseña")
    </div>
    <input type="submit" value="Iniciar Sesión" />

    <div>@ViewBag.Error</div>
}  